version: '2'

services:
  registry:
    image: registry:2
    container_name: registry
    restart: unless-stopped
    ports:
      - "{{ docker_registry_port }}:5000"
    volumes:
      - "/etc/localtime:/etc/localtime"
      - "{{ docker_registry_volume }}:/var/lib/registry"
